.bicicletas-lista {
  padding: 60px 0 120px 0;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  padding: 0 20px 20px 20px;

  /* auto rolagem lateral */
  overflow-x: scroll;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista h3 {
  display: flex;
  align-items: center;
}
.bicicletas-lista h3::before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background: var(--cor-p1);
  transition: width 0.2s;
}
.bicicletas-lista li:hover h3::before {
  width: 20px;
}

.bicicletas-lista li span {
  padding-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding: 30px 0 120px 0;
  }
}


