*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1rem "Inter", serif;
  height: 4000px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}


/* Definir border radiud apenas para imagens jpg */
img [src$=".jpg"]{
  border-radius: 4px;
}
