*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1rem "Inter", serif;
}

h1,
h2,
h3,
p,
blockquote,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
  display: block;
}

/* Definir border radiud apenas para imagens jpg */
img[src$=".jpg"] {
  border-radius: 4px;
}

#seguros .seguros{
  padding-top: 0;
}